<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <div class="card">
          <a href="" class="text-center"><img src="/assets/img/9.jpg" alt="" class="img-fluid"></a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
          <a href="" class="text-center"><img src="/assets/img/1.jpg" alt="" class="img-fluid"></a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
          <a href="" class="text-center"><img src="/assets/img/8.jpg" alt="" class="img-fluid"></a>
      </div>
    </div>
    <div class="col-md-2">
        <div class="card">
            <a href="" class="text-center"><img src="/assets/img/11.jpg" alt="" class="img-fluid"></a>
        </div>
      </div>
  </div>
</div>