<section>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="box">
          <h3 style="text-align:center;">Formulario de registro</h3>
          <br>
          <form>
            <div class="form-group">
              <label>R.U.T:</label>
              <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Ingresar R.U.T">
              <small id="emailHelp" class="form-text text-muted">Nunca compartiremos su R.U.T con nadie </small>
            </div>
            <div class="form-group">
              <label>Nombre:</label>
              <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Ingresar Nombre">
            </div>
            <div class="form-group">
                <label>Apellido:</label>
                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Ingresar Apellido">
            </div>
            <div class="form-group">
                <label>Correo Eléctronico:</label>
                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Ingresar Correo eléctronico">
            </div>
            <div class="form-group">
                <label>Region:</label>
                <select class="form-control" (change)="changeRegions(this.value)" id="select" value="hols">
                  <option *ngFor="let item of Regiones" value="{{item.region}}">{{ item.region }}</option>
                </select>
            </div>
            <div class="form-group">
                <label>Comuna:</label>
                <select class="form-control" >
                  <option value="0">Selecciona una opción</option>
                  <option *ngFor="let comuna of Comunas" value="{{ comuna }}">{{ comuna }}</option>
                </select>
            </div>
            
            <button type="submit" class="btn">Crear nueva cuenta</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>