/** Generated @ www.fontreactor.com **/
@font-face {
	font-family: 'AvenirNextLTPro-It';
    src: url('original_AvenirNextLTPro-It.eot?#iefix') format('embedded-opentype'), 
         url('original_AvenirNextLTPro-It.woff') format('woff'),
         url('original_AvenirNextLTPro-It.ttf') format('truetype'),
         url('original_AvenirNextLTPro-It.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}