.card {
    position: relative;
    padding: 10px;
    background: white;
    display: grid;
    -webkit-box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.057);
            box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.057);
    -webkit-transition: 0.2s ease-in;
    transition: 0.2s ease-in;
    margin-bottom: 40px;
  }