<nav class="principal">
  <div class="container pdheader">
    <div class="row">
      <div class="col-md-4 col-xs-12 logo">
        <a [routerLink]="['/']"><h3>Ibatido</h3></a>
        <a [routerLink]="['/']"><p>Distribuidor independiente Herbalife</p></a>
      </div>
      <div class="col-md-4 col-xs-12">
        <input type="text" id="search" placeholder="Buscar..." class="form-control">
      </div>
      <div class="col-md-4">
        <ul class="login">
            <li class="shopicon"><a [routerLink]="['/cart']"><i class="fa fa-shopping-bag" aria-hidden="true"></i><span class="badge badge-secondary">0</span></a></li>
          <li><a [routerLink]="['/sigin']">Iniciar sesion</a></li>
          <li>|</li>
          <li><a [routerLink]="['/sigup']">Registrarse</a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>


<section class="router">
  <router-outlet></router-outlet>
</section>

<footer>
  <div class="container">
    <div class="row contactinfo">
      <div class="col-md-4">
        <ul>
          <li><i class="fa fa-phone" aria-hidden="true"></i></li>
          <li>+56 9 8492 3552</li>
        </ul>
      </div>
      <div class="col-md-4">
        <ul>
          <li><i class="fa fa-life-ring" aria-hidden="true"></i></li>
          <li>informacion@ibatido.cl</li>
        </ul>
      </div>
      <div class="col-md-4">
        <ul>
          <li><i class="fa fa-clock-o" aria-hidden="true"></i></li>
          <li>Lun - Vie / 09:00 - 18:00</li>
        </ul>
      </div>
    </div>
    <div class="row footerinfo">
      <div class="col-md-3">
        <div class="logo">
          <a [routerLink]="['/']"><h3>Ibatido</h3></a>
          <a [routerLink]="['/']"><p>Distribuidor independiente Herbalife</p></a>
        </div>
      </div>
      <div class="col-md-3">
        <ul>
          <li class="title">Productos</li>
          <li><a href="">producto 1</a></li>
          <li><a href="">producto 2</a></li>
          <li><a href="">producto 3</a></li>
          <li><a href="">producto 4</a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <ul>
          <li class="title">Nuestra compañia</li>
          <li><a href="">Quienes Somos</a></li>
          <li><a href="">Delivery</a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <ul>
          <li class="title">Su cuenta</li>
          <li><a href="">Carrito de compras</a></li>
          <li><a href="">Información personal</a></li>
        </ul>
      </div>
    </div>
    <div class="row postfooter">
      <div class="col-md-4">
        <h5><i class="fa fa-envelope" aria-hidden="true"></i> Únase al boletín de <span class="logo">Ibatido</span></h5>
      </div>
      <div class="col-md-4">
        <ul class="newsletter">
          <li><input type="text" class="form-control"></li>
          <li><button class="btn">Suscribir</button></li>
        </ul>
      </div>
      <div class="col-md-4">
        <img class="mediospagos" src="assets/img/khipu.png" alt="">
      </div>
    </div>
  </div>
</footer>
