.box{
    max-width: 600px;
    padding: 40px;
    background: #fff;
    margin: 0 auto;
    margin-top: 60px;
    margin-bottom: 60px;
}

.box button{
    border: 1px solid transparent;
    border-radius: 3px;
    background: #24babc;
    color: #fff;
    font-weight: 100px;
}